<template>
    <div>
        <section class="section about-me" data-section="section-about">
            <div class="container">
                <div class="section-heading">
                    <h2>About Me</h2>
                    <div class="line-dec"></div>
                    <p>
                        Hello, I am Maulik Shah and I am a Professional Web Developer.
                        I am specialized in creating dynamic web pages and web applications.
                        I have been in this field since 2014 and have been enjoying each minute of my work.
                    </p>
                    <p>
                        My goal as a developer is to meet client's specifications and requirements neatly and ensure
                        that client get 100% satisfation of an amount I am paid for.
                    </p>
                </div>

                <div class="section-heading">
                    <h2>Qualifications</h2>
                    <div class="line-dec"></div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge success"><i class="fa fa-check"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">MCA</h4>
                                    <p><small class="text-muted"><i class="fa fa-calendar"></i> May 2011</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>
                                        Completed my post graduation from S P University, Vallabh Vidya Nagar, Gujarat in May-2011 with score of 68%.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge info"><i class="fa fa-check"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">B.Sc. (Industrial Chemistry)</h4>
                                    <p><small class="text-muted"><i class="fa fa-calendar"></i> May 2008</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Completed bachelors in Science with primary subject as Industrial Chemistry in May-2008 from S P University, Vallabh Vidya Nagar, Gujarat with second class</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge info"><i class="fa fa-check"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">School</h4>
                                    <p><small class="text-muted"><i class="fa fa-calendar"></i> April 2004</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Completed my schooling from Vadodara, Gujarat under Gujarat Education Board</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="section-heading">
                    <h2>Work Experience</h2>
                    <div class="line-dec"></div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge success"><i class="fa fa-check-square-o"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">AVDevs Solutions</h4>
                                    <p><small class="text-muted"><i class="fa fa-calendar"></i></small> Dec-2018 to Present</p>
                                </div>
                                <div class="timeline-body">
                                    <h4>Role</h4>
                                    <p>Laravel Developer</p>
                                    <p>WordPress Developer: Theme Building, Theme Customization, Custom Post building, Custom Plugin Building</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge info"><i class="fa fa-code"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Remote Developer for UK based Client</h4>
                                    <p><small class="text-muted"><i class="fa fa-calendar"></i></small> Sept-2015 to Dec-2018</p>
                                </div>
                                <div class="timeline-body">
                                    <h4>Role</h4>
                                    <p>WordPress Development: Site building and maintenance</p>
                                    <p>CodeIgniter Development: A customized system built for Customer management, Customer Appointment Scheduler, Machinary management, Staff Management, Incident Repository</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge info"><i class="fa fa-code"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">eHub Experts India</h4>
                                    <p><small class="text-muted"><i class="fa fa-calendar"></i></small> July-2014 to Sept-2015</p>
                                </div>
                                <div class="timeline-body">
                                    <h4>Role</h4>
                                    <p>WordPress: Theme Customization, Template Building, Plugin Customization</p>
                                    <p>OpenCart: Theme Customization, Extension Customization</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge info"><i class="fa fa-terminal"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">TOPS Technologies Pvt. Ltd.</h4>
                                    <p><small class="text-muted"><i class="fa fa-calendar"></i></small> January-2013 to July-2014</p>
                                </div>
                                <div class="timeline-body">
                                    <h3>Role</h3>
                                    <p>Faculty of PHP,Joomla, WordPress, Android</p>
                                    <p>PHP Mentor and Faculty Trainer</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge info"><i class="fa fa-terminal"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">NIIT</h4>
                                    <p><small class="text-muted"><i class="fa fa-calendar"></i></small> May-2011 to November-2012</p>
                                </div>
                                <div class="timeline-body">
                                    <h3>Role</h3>
                                    <p>Faculty of: PHP, MicroSoft .NET 2.0 and .NET 3.5, Computer Basics</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="section my-services" data-section="section-services">
            <div class="container">
                <div class="section-heading">
                    <h2>My Speciality</h2>
                    <div class="line-dec"></div>
                    <span></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class=" service-icon">
                                <i class="fa fa-4x fa-html5"></i>
                            </div>
                            <h4>HTML5</h4>
                            <p>As a web designer and developer, this is my <mark>core strength</mark>.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class=" service-icon">
                                <i class="fa fa-4x fa-css3"></i>
                            </div>
                            <h4>CSS</h4>
                            <p>As a web designer, CSS is my key element also.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class=" service-icon">
                                <i class="fa fa-4x fa-code"></i>
                            </div>
                            <h4>JS & jQuery</h4>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class=" service-icon">
                                <i class="fa fa-4x fa-wordpress"></i>
                            </div>
                            <h4>WordPress</h4>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="service-item">
                            <div class=" service-icon">
                                <i class="fa fa-4x fa-code"></i>
                            </div>
                            <h4>Laravel</h4>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "About"
    }
</script>

<style scoped>
    .service-item:hover .service-icon{
        color: rebeccapurple;
    }
    .timeline {
        list-style: none;
        padding: 20px 0 20px;
        position: relative;
    }

    .timeline:before {
        top: 0; bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
        width: 100%;
    }

    .timeline > li:before,
    .timeline > li:after {
        content: " ";
        display: table;
    }

    .timeline > li:after {
        clear: both;
    }

    .timeline > li > .timeline-panel {
        width: 46%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }

    .timeline > li > .timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";
    }

    .timeline > li > .timeline-panel:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
    }

    .timeline > li > .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: #999999;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
    }

    .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .timeline-badge.primary {
        background-color: #2e6da4 !important;
    }

    .timeline-badge.success {
        background-color: #3f903f !important;
    }

    .timeline-badge.warning {
        background-color: #f0ad4e !important;
    }

    .timeline-badge.danger {
        background-color: #d9534f !important;
    }

    .timeline-badge.info {
        background-color: #5bc0de !important;
    }

    .timeline-title {
        margin-top: 0;
        color: inherit;
    }

    .timeline-body > p,
    .timeline-body > ul {
        margin-bottom: 0;
    }

    .timeline-body > p + p {
        margin-top: 5px;
    }

    @media (max-width: 767px) {
        ul.timeline:before {
            left: 40px;
        }

        ul.timeline > li > .timeline-panel {
            width: calc(100% - 90px);
            width: -moz-calc(100% - 90px);
            width: -webkit-calc(100% - 90px);
        }

        ul.timeline > li > .timeline-badge {
            left: 15px;
            margin-left: 0;
            top: 16px;
        }

        ul.timeline > li > .timeline-panel {
            float: right;
        }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
        ul.timeline .timeline-title {
            font-size: 18px;
        }
        ul.timeline p {
            font-size: 13px;
            line-height: 17px;
        }
    }
</style>