<template>
    <div>
        <section class="section contact" data-section="section-contact">
            <div class="section-heading">
                <kinesis-container >
                    <h2>
                        <kinesis-element :strength="10" type="depth" tag="label">Contact</kinesis-element>
                        <kinesis-element :strength="10" type="depth_inv" tag="label">Me</kinesis-element>
                    </h2>
                    <kinesis-element :strength="5" type="scale"><div class="line-dec"></div></kinesis-element>
                </kinesis-container>
                <!--<div class="line-dec"></div>-->
                <!--<kinesis-container >-->
                    <!--<h1>-->
                        <!--<kinesis-element :strength="15" type="depth" tag="label">M</kinesis-element>-->
                        <!--<kinesis-element :strength="10" type="depth_inv" tag="label">A</kinesis-element>-->
                        <!--<kinesis-element :strength="18" type="depth" tag="label">U</kinesis-element>-->
                        <!--<kinesis-element :strength="5" type="depth_inv" tag="label">L</kinesis-element>-->
                        <!--<kinesis-element :strength="18" type="depth" tag="label">I</kinesis-element>-->
                        <!--<kinesis-element :strength="5" type="depth_inv" tag="label">K</kinesis-element>-->
                    <!--</h1>-->
                <!--</kinesis-container>-->
            </div>
            <div class="container">
                <form action="" method="post" id="" class="form-horizontal" v-on:submit="submitEnquiry" >
                    <div class="row">
                        <div class="col-md-12">
                            <div v-if="enquiry_submit.success" class="alert alert-success">
                                <h3>Thank you for your enquiry...!</h3>
                                <span>Your query is delivered and you will be responded soon for that.</span>
                            </div>
                            <div v-if="enquiry_submit.fail" class="alert alert-danger">
                                <h3>Something went wrong...!</h3>
                                <span>Unfrtunately, your enquiry could not be submitted.<br /><strong>Reason: </strong>{{enquiry_submit.fail_reason}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <fieldset>
                                <input type="text" class="form-control" placeholder="Your Name" v-model="enquiry.name" />
                                <label v-if="validations.name" class="text-danger" >{{validation_messages.name}}</label>
                            </fieldset>
                        </div>
                        <div class="col-md-6 form-group">
                            <fieldset>
                                <input type="text" name="" id="" class="form-control" placeholder="Your Email" v-model="enquiry.email" />
                                <label v-if="validations.email" class="text-danger" >{{validation_messages.email}}</label>
                                <label v-if="validations.email_valid" class="text-danger" >{{validation_messages.email_valid}}</label>
                            </fieldset>
                        </div>
                        <div class="col-md-6 form-group">
                            <fieldset>
                                <input type="text" name="" id="" class="form-control" placeholder="Your Phone Number" v-model="enquiry.phone" />
                                <label v-if="validations.phone"  class="text-danger" >{{validation_messages.phone}}</label>
                            </fieldset>
                        </div>
                        <div class="col-md-6 form-group">
                            <fieldset>
                                <input type="text" name="" id="" class="form-control" placeholder="Your Subject" v-model="enquiry.subject" />
                                <label v-if="validations.subject" class="text-danger" >{{validation_messages.subject}}</label>
                            </fieldset>
                        </div>
                        <div class="col-md-12 form-group">
                            <fieldset>
                                <textarea name="" id="" cols="30" rows="5" placeholder="Your Message" class="form-control" v-model="enquiry.message"></textarea>
                                <label v-if="validations.message" class="text-danger" >{{validation_messages.message}}</label>
                            </fieldset>
                        </div>
                        <div class="col-md-12 form-group text-center">
                            <fieldset>
                                <button type="submit" class="button">Send Message</button>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "Contact",
        data() {
            return {
                validations: {
                    name: false,
                    email: false,
                    email_valid: false,
                    phone: false,
                    subject: false,
                    message: false,
                },
                validation_messages: {
                    name: 'Please enter name',
                    email: 'Please enter email',
                    email_valid: 'Please enter valid email',
                    phone: 'Please enter phone number',
                    subject: 'Please enter enquiry subject',
                    message: 'Please enter message',
                },
                enquiry: {
                    name: "",
                    email: "",
                    phone: "",
                    subject: "",
                    message: "",
                },
                enquiry_submit: {
                    success: false,
                    fail: false,
                    fail_reason: '',
                }
            }
        },
        methods: {
            submitEnquiry: function(e){
                e.preventDefault();
                var validated = true;

                this.validations.name = this.validations.email = this.validations.email_valid = this.validations.phone = this.validations.subject = this.validations.message = false;
                this.enquiry_submit.success = this.enquiry_submit.fail = false;
                this.enquiry_submit.fail_reason = "";

                if (this.enquiry.name == ""){
                    this.validations.name = true;
                    validated = false;
                }
                if (this.enquiry.email == ""){
                    this.validations.email = true;
                    validated = false;
                } else {
                    var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                    if (!filter.test(this.enquiry.email)) {
                        this.validations.email_valid = true;
                        validated = false;
                    }
                }
                if (this.enquiry.phone == ""){
                    this.validations.phone = true;
                    validated = false;
                }
                if (this.enquiry.subject == ""){
                    this.validations.subject = true;
                    validated = false;
                }
                if (this.enquiry.message == ""){
                    this.validations.message = true;
                    validated = false;
                }

                if (validated){
                    axios.post('api/enquiry', {
                        name: this.enquiry.name,
                        email: this.enquiry.email,
                        phone: this.enquiry.phone,
                        subject: this.enquiry.subject,
                        message: this.enquiry.message,
                    }).then(response => {
                            console.log(response.data);
                            if (response.data.success){
                                this.enquiry_submit.success = true;
                                this.enquiry_submit.fail = false;
                            } else {
                                this.enquiry_submit.success = false;
                                this.enquiry_submit.fail = true;
                                this.enquiry_submit.fail_reason = response.data.reason;
                            }
                    }).catch(error => {
                        this.enquiry_submit.success = false;
                        this.enquiry_submit.fail = true;
                        this.enquiry_submit.fail_reason = "fetching reason...";
                        console.log(error);
                    });

                    this.enquiry.name = this.enquiry.email = this.enquiry.phone = this.enquiry.subject = this.enquiry.message = "";
                }
            }
        }
    }
</script>

<style scoped>

</style>
