<template>
    <div>
        <section class="section 404" data-section="section-not-found">
            <div class="container">
                <div class="section-heading">
                    <h2>Not Found...</h2>
                    <div class="line-dec"></div>
                    <span>
                        Page you are looking at is not available. <br /><br />
                        <router-link class="btn btn-primary text-white" :to="{ name: 'Home' }"><i class="fa fa-long-arrow-left"></i> Back to Home</router-link>
                    </span>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "NotFound"
    }
</script>

<style scoped>

</style>