<template>
    <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
            <i class="fa fa-times" id="menu-close"></i>
            <div class="container">
                <div class="image">
                    <a href="#"><img src="assets/images/author-image.jpg" alt="" /></a>
                </div>
                <div class="author-content">
                    <h4>Maulik Shah</h4>
                    <span>Web Designer & Developer</span>
                </div>
                <nav class="main-nav" role="navigation">
                    <ul class="main-menu">
                        <li>
                            <router-link :to="{ name: 'Home' }">Home</router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'About' }">About</router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'Contact' }">Contact</router-link>
                        </li>
                    </ul>
                </nav>
                <div class="social-network">
                    <ul class="soial-icons">
                        <li>
                            <router-link to="https://www.facebook.com/maulik.shah1910" target="_blank">
                                <i class="fa fa-facebook"></i>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="https://twitter.com/maulikshah1910" target="_blank">
                                <i class="fa fa-twitter"></i>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="#" target="_blank">
                                <i class="fa fa-linkedin"></i>
                            </router-link>
                        </li>
                        <li>
                            <router-link to="mailto: maulik.shah1910@gmail.com">
                                <i class="fa fa-envelope"></i>
                            </router-link>
                        </li>
                    </ul>
                </div>
                <div class="copyright-text">
                    <p>Copyright 2019 Maulik Shah</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SiteHeader"
    }
</script>

<style scoped>

</style>